* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , 'open sans';
    color: #424242;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f2f2f2;
    padding: 6rem;
}

p {
    font-size:5rem;
}